<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>환영합니다</title>
</head>
<body>
  <h1>{{serviceName}}에 오신 것을 환영합니다!</h1>
  <p>안녕하세요 {{userName}}님,</p>
  <p>가입해 주셔서 감사합니다. 계정이 성공적으로 생성되었습니다.</p>
  <p>
    <a href="{{loginLink}}">계정에 로그인</a>
  </p>
  <p>궁금한 점이 있으시면 지원팀에 문의해 주세요.</p>
</body>
</html>
